# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# Variáveis de ambiente
.env

# Arquivos gerados
*.xlsx
*.csv
*.pdf

# Sistema
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/